.addProduct {
  padding: 20px 20px;
  font-size: 22px;

  .productForm {
    margin-top: 30px;
    padding: 20px;
    border: 1px solid #ccc;
    font-size: 0.7em;

    form {
      display: flex;
      flex-direction: column;

      .inputContainer,
      .selectContainer,
      .textareaContainer,
      .imageContainer {
        display: flex;
        justify-content: space-between;
        align-items: end;
        margin-bottom: 20px;

        label {
          flex: 30%;
          margin-bottom: 10px;
        }

        input,
        select,
        textarea {
          flex: 70%;
          padding: 8px;
          border: 1px solid #ccc;
          border-radius: 4px;
        }

        textarea,
        .productDescription {
          height: 100px;
          margin-bottom: 40px;
        }
      }

      .textareaContainer {
        align-items: center;
      }

      .detailImageContainer {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 20px;

        label {
          width: 30%;
          margin-right: 10px;
        }

        .inputFileContainer {
          display: flex;
          flex-direction: column;
          width: 70%;
        }

        input,
        .fileList {
          padding: 8px;
          margin-top: 10px;
          border: 1px solid #ccc;
          border-radius: 4px;
        }

        .fileList {
          height: 200px;
          overflow: auto;
        }
      }

      button {
        padding: 10px;
        border: none;
        border-radius: 4px;
        background-color: blue;
        color: white;
        transition: background-color 0.3s;
        cursor: pointer;

        &:hover {
          background-color: #1422a3;
        }
      }
    }
  }
}
