.addCategory {
  padding: 20px 20px;
  font-size: 22px;

  .main {
    margin-top: 50px;
  }

  .sub {
    margin-top: 50px;
  }

  .categoryForm,
  .subSubCategoryForm {
    margin-top: 30px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    font-size: 0.7em;
    font-weight: bold;

    form {
      display: flex;
      flex-direction: column;

      .selectContainer,
      .inputContainer {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        margin-bottom: 20px;

        label {
          flex: 30%;
          margin-bottom: 10px;
        }

        input,
        select {
          flex: 70%;
          padding: 8px;
          border: 1px solid #ccc;
          border-radius: 4px;
        }
      }

      .submitBtn {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 50px;

        button {
          width: 200px;
          height: 50px;
          padding: 10px 20px;
          border: 0;
          border-radius: 10px;
          outline: 0;
          text-decoration: none;
          font-size: large;
          font-weight: bold;
          transition: background-color 0.3s;
          cursor: pointer;

          &:hover {
            background-color: blue;
            color: white;
          }
        }
      }
    }
  }
}
