.products {
  padding: 20px 20px;
  font-size: 22px;

  .moveProductBtn {
    display: flex;
    margin-top: 30px;
    margin-left: auto;
    padding: 10px 20px;
    border: 0;
    border-radius: 10px;
    outline: 0;
    text-decoration: none;
    font-weight: 600;
    cursor: pointer;
  }

  .productsList {
    margin-top: 10px;

    table {
      padding: 15px 15px;
      width: 100%;
      border: 1px solid gray;
      border-collapse: collapse;
      border-radius: 10px;
      font-size: 0.7em;
    }

    thead {
      font-weight: bold;
    }

    th {
      text-align: left;
    }

    th,
    td {
      vertical-align: middle;
      padding: 1em 0.5em;
      border-bottom: 1px solid gray;
    }
  }
}
